.indent-1 {
    display: inline-block;
    margin-left: 2px;
    margin-bottom: 1.5em;
    border: 2px solid #888;
    border-radius: 6px;
    padding: 6px;
    background-color: #F8F8F8;
    box-shadow: 2px 2px 8px #444;
    font-size: 88% !important;
    width: 44%;
    float: left;
    margin: 5px 1%;
}

.indent-1 h3, .indent-2 h3 {
    margin: 2px;
}

.indent-1 h3 {
    font-size: 1.2em;
}
.indent-2 h3 {
    font-size: 1.1em;
}
.idw h3 {
    color: #2C4;
}
.indent-2 {
    float: left;
    margin: 6px;
    max-width: 22%;
    width: 22%;
    border-radius: 6px;
    padding: 4px 7px;
    background-color: white;
    border: 2px solid #444;
    box-shadow: 3px 3px 8px #222;
    font-size: 80% !important;
    clear: inline-end;
    overflow-x: hidden;
    white-space: nowrap;
}

.batch-div {
    background-color: #F9F9F9 !important;
    border-radius: 8px;
    border: 2px solid #BBB;
    width: 44%;
    float: left;
    margin: 5px 1%;
}

.clearfloat {
    clear: both;
}

.max-height-500 {
    background-color: #fafafa;
    max-height: 500px;
    overflow: auto;
    height: 500px;
    border: 1px solid #999;
    box-shadow: inset 0px 0px 40px rgba(0,0,0,0.4);
    padding-left: 12px;
}

.max-height-500 h3 {
    margin: 2px 2px 4px 2px;
}

.migration-details {
    background-color: #E9E9E9;
    border: 2px solid #999;
    border-radius: 10px;
    padding: 10px;
}

.skipped {
    border-color: #F44;
    color: #888;
    background-color: #f1f1f1;
}

.keep {
    background-color: #FDFDFD;
}

.transactions {
    font-size: 90%;
}

.transactions h3 {
    font-size: 90%;
}

.idw {
    border-color: #3C4;
    color: black;
    background-color: white;
}