.indent-1 {
    display: block;
    margin-left: 2px;
    margin-bottom: 1.5em;
    border: 2px solid #EDEDED;
    border-right-width: 32px;
    border-left-width: 24px;
    padding: 8px;
    background-color: #F8F8F8;
    box-shadow: -2px -2px 8px #444;
}

.indent-2 {
    float: left;
    margin: 12px;
    max-width: 28%;
    width: 28%;
    font-size: small;
    border-radius: 8px;
    padding: 8px;
    background-color: white;
    border: 1px solid #444;
    box-shadow: 3px 3px 8px #222;
}

.batch-div {
    background-color: #F2FFF3 !important;
    border-radius: 8px;
    border: 2px solid #DDD;
}
.clearfloat {
    clear: both;
}